* {
    margin: 0px;
    padding: 0px;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.32fr 1fr 200px;
}

main section {
    background-color: #36393e;
}

main aside {
    display: grid;
    grid-template-columns: .32fr 1fr;
}

main aside .info {
    background-color: #282b30;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}

main aside .info .top-aside {
    color: white;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,.4);
}

main aside .info .mini-profile {
    font-size: 13px;
    background-color: #1e2124;
    display: grid;
    grid-template-columns: 1fr .3fr .3fr;
}

main aside .info .mini-profile #me {
    color: white;
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-content: center;
}

main aside .info .mini-profile #photo {
    width: 30px;
    height: 30px;
    background-position: center;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 190%;
}

main aside .info .channelsServer {
    display: grid;
    color: white;
    gap: .6rem;
    padding: 8px;
}
#Ch {
    display: grid;
    grid-template-columns: 30px 1fr;
    padding: 5px;
}

#Ch:hover {
    background-color: #303338;
    border-radius: 8px;
    padding: 5px;
}

#iconCH {
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: 100%;
}

main aside .info .channelsServer a {
    text-decoration: none;
}

main aside .info .channelsServer li {
    list-style: none;
}


main aside .channels {
    background-color: #1e2124;
    display: grid;
    grid-template-rows: 70px;
    grid-auto-rows: 58px;
    justify-content:center;
}

main aside .channels .me {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #36393e;
    margin-top: 10px;
    transition: all 0.2s ease;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

main aside .channels .meactive {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-top: 10px;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-radius: 30%;
    background-color: #7289da;
}

main aside .channels .me:hover {
    border-radius: 30%;
    background-color: #7289da;
}

main section #channelView {
    display: grid;
    grid-template-rows: 50px 1fr 70px;
}

main section .topch {
    color: white;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,.4);
    display: flex;
}

main section .topch a {
    margin: auto 0px auto 1rem;
}

main section #channelView .messages {
    overflow-y: scroll;
    height: calc(100vh - 120px);
}

main section .uniqueMSG {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 10px;
}

main section .uniqueMSG #userstats {
    color: #a3a3a3;
}

main section .uniqueMSG #minphoto {
    border-radius: 100%;
    background-size: 70%;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1e2124;
}

main section .uniqueMSG #date {
    font-size: 12px;
    opacity: 0.6;
}

main section .uniqueMSG #content {
    color: white;
}

#chatsend {
    display: flex;
}

#chat-message-input {
    margin: 0px auto auto auto;
    padding: 10px;
    width: 90%;
    border-radius: 7px;
    font-size: 16px;
    background-color: #444649;
    color: white;
    outline: none;
    border: none;
}

#chat-message-input:focus {
    outline: none;
    border: none;
}

.serverls {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #36393e;
    margin-top: 10px;
    transition: all 0.2s ease;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

#addserver {
    text-align: center;
}

main article {
    display: grid;
    grid-template-rows: 50px 1fr;
}

main article #top {
    background-color: #36393e;
}

main article #minphoto {
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100% ;
    background-color: #1e2124;
}

main article .userlistch {
    background-color: #303338;
    display: grid;
    grid-auto-rows: 30px;
    gap: 10px;
    color: white;
    padding: 10px;
}

main article #usermin {
    display: grid;
    grid-template-columns: 40px 1fr;
}

main article #usermin:hover {
    background-color: #36393e;
}

#addServer {
    position: absolute;
    width: 50vh;
    height: 22vh;
    background-color: #ffffff;
    display: grid;
    text-align: center;
    grid-template-rows: 30px 50px 70px;
    padding: 20px;

    border-radius: 6px;
    top: calc(50% - 11vh - 20px);
    left: calc(50% - 25vh - 20px);
}

#addServer #iconAS {
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#addServer #choice {
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#addServer #choice:hover {
    background-color: #dadada;
}

#addServer form {
    display: grid;
    text-align: left;
    gap: 10px;
}

#addServer form input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dadada;
}