{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Discord Clone</title>
</head>
<body>
    <main style="background-image: url('{% static 'images/background-login.webp' %}');">
        <section>
            <form action="" method="POST">
                <span style="font-size: 1.5rem; color: white; justify-self: center;">Welcome back!</span>
                <span style="justify-self: center; margin: 1rem;">We're so exicited to see you again!</span>
                {% csrf_token %}
                {% for field in form %}
                    <div id="label"><span style="font-size: 0.9rem; font-weight: bolder;">{{ field.label }} <span style="color:red;">*</span></span>{{ field }}</div>
                {% endfor %}

                <a id="forgot" href="forgot">Forgot your password?</a>

                <button id="login" type="submit">Log in</button>
                <span style="font-size: .8rem; margin: 1rem 0px;">Need an account? <a id="reg" href="/register">Register</a></span>
            </form>
            <div>QRCODE</div>
        </section>
    </main>
</body>
</html>