{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Discord Clone</title>
</head>
<body>
    <main>
        <aside>
            <div class="channels">
                {% if me %} 
                <div class="meactive"  style="background-image: url('{% static 'images/logo-discord.png' %}');"></div>
                {% else %}
                <a href="/channels/@me"><div class="me"  style="background-image: url('{% static 'images/logo-discord.png' %}');"></div>
                </a>{% endif %}
            </div>
            <div class="info">

                {% if me %}
                    <div class="top-aside"></div>
                    <div></div>
                {% else %}
                    <div style="display: flex;" class="top-aside"><span style="margin: auto;">{{ server.name }}</span></div>
                    <ul style="grid-template-rows: repeat({{numbersCH}}, 30px);" class="channelsServer">
                        {% for channel in channels %}
                            <a href="/channels/{{server.ID}}/{{channel.ID}}">
                                <li id="Ch">
                                    <div id="iconCH" style="background-image: url('/{{channel.icon}}');"></div>
                                    <span style="color: white; margin: auto 0px;">{{ channel.name }}</span>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="mini-profile">
                    <div id="me">
                        <div id="photo" style="margin: auto; background-image: url('/media/{{user.photo}}');"></div>
                        <div style="margin: auto 0px;">
                            <span>{{user.name}}</span>
                            <br>
                            <span>#0000</span>
                        </div>
                    </div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </aside>
        <section>
            {% if me %}
            {% else %}
                {% include "room.html" %}
            {% endif %}
        </section>
    </main>
</body>
</html>