{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Discord Clone</title>
</head>
<body onLoad="scrollmv()">
    <main>
        <aside>
            <div class="channels">
                {% if me %} 
                <div class="meactive"  style="background-image: url('{% static 'images/logo-discord.png' %}');"></div>
                {% else %}
                <a href="/channels/@me"><div class="me"  style="background-image: url('{% static 'images/logo-discord.png' %}');"></div>
                </a>{% endif %}

                {% for ch in serverls %}

                    {% if serverActual == ch %}
                    <a href="/channels/{{ch}}"><div class="serverlsactive" style="background-image: url('{% static 'images/logo-discord.png' %}');" ></div></a>
                    {% else %}
                    <a href="/channels/{{ch}}"><div class="serverls" style="background-image: url('{% static 'images/logo-discord.png' %}');" ></div></a>
                    {% endif %}
                
                {% endfor %}

                <a><div id="adsv" onclick="ShowCreateServer()" class="serverls" style="background-image: url({% static 'images/plus.png' %});" ></div></a>
                
            </div>
            <div class="info">

                {% if me %}
                    <div class="top-aside"></div>
                    <div></div>
                {% else %}
                    <div style="display: flex;" class="top-aside"><span style="margin: auto;">{{ server.name }}</span></div>
                    <ul style="grid-template-rows: repeat({{numbersCH}}, 30px);" class="channelsServer">
                        {% for channel in channels %}
                            <a href="/channels/{{server.ID}}/{{channel.ID}}">
                                <li id="Ch">
                                    <div id="iconCH" style="background-image: url('/{{channel.icon}}');"></div>
                                    <span style="color: white; margin: auto 0px;">{{ channel.name }}</span>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="mini-profile">
                    <div id="me">
                        <div id="photo" style="margin: auto; background-image: url('/media/{{user.photo}}');"></div>
                        <div style="margin: auto 0px;">
                            <span id="myusername">{{user.name}}</span>
                            <br>
                            <span>#0000</span>
                        </div>
                    </div>
                    <a href="/logout" style="margin: auto 0px;"><div id="logout" style="background-image: url('{% static 'images/logout.png' %}');"></div></a>
                    <div id="settings" style="background-image: url('{% static 'images/settings.png' %}');"></div>
                </div>
            </div>
        </aside>
        <section>
            {% if me %}
            {% else %}
                {% include "room.html" %}
            {% endif %}
        </section>
        <article>
            <div id="top">
                {% if me %}
                {% else %}
                <div id="clipboard" style="background-image: url('{% static 'images/add-user.png' %}');" onclick="CopyInvite()" class="/channels/invite/{{server.ID}}"></div>
                {% endif %}
            </div>

            <div class="userlistch">
                {% for userS in users %}
                <div id="usermin">
                    <div id="minphoto" style="background-image: url('/media/{{userS.photo}}');"></div>
                    <div>{{userS.name}}</div>
                </div>
                {% endfor %}
            </div>
        </article>
    </main>

    <div id="filter"></div>

    <div class="hide" id="addServer">
        <span onclick="ShowCreateServer()" style="position: absolute; right: 12px; top: 10px;">X</span>
        <span style="font-size: 1.5rem;">Crie um servidor</span>
        <span style="opacity: 0.7; font-size: 1rem;">Seu servidor é onde você e seus amigos se reúnem. Crie o seu e comece a interagir</span>
    
        <a id="sendforme" onclick="changeMenu()">
            <div id="choice" style="display: grid; grid-template-columns: 1fr 30px;">
                <span style="margin: auto 0px; text-align: left;">Criar o meu</span>
                <div id="iconAS" style="background-image: url({% static 'images/right.png' %});"></div>
            </div>
        </a>
    </div>
</body>

<script>
    function CopyInvite() {
        const clip = document.querySelector("#clipboard")

        var host = window.location.host

        var copyText = host + clip.className

        navigator.clipboard.writeText(copyText)
    }

    function ShowCreateServer() {
        const div = document.querySelector("#addServer");
        const adsv = document.querySelector("#adsv")
        const filter = document.querySelector("#filter")

        if (div.classList.value == "hide") {
            div.classList.remove("hide")
            div.classList.add("show")
            div.style.display = "grid"

            adsv.classList.add("serverlsactive")
            adsv.style.backgroundColor = "green"
            filter.style.display = "block"
        }
        else if (div.classList.value == "show") {
            div.classList.remove("show")
            div.classList.add("hide")
            div.style.display = "none"

            adsv.classList.remove("serverlsactive")
            adsv.style.backgroundColor = "#36393e"
            filter.style.display = "none"
        }
    }

    function changeMenu() {
        document.querySelector("#sendforme").remove()
        const html = `
        <form action='/channels/createserver' method='POST'>
            {% csrf_token %}
            <label>NOME DO SERVIDOR</label>
            <input name='nameserver'></input>
        </form>
        `

        document.querySelector('#addServer').insertAdjacentHTML('beforeend',html);

        document.querySelector("#choice").remove()
    }
</script>

</html>