{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Discord Clone</title>
</head>
<body>
    <main>
        <aside>
            <div class="channels">
                {% if me %} 
                <div class="meactive"  style="background-image: url('{% static 'images/logo-discord.png' %}');"></div>
                {% else %}
                <a href="/channels/@me"><div class="me"  style="background-image: url('{% static 'images/logo-discord.png' %}');"></div>
                </a>{% endif %}
            </div>
            <div class="info">

                {% if me %}
                    <div></div>
                    <div></div>
                {% else %}
                    <div>{{ server.name }}</div>
                    <div></div>
                {% endif %}

                <div class="mini-profile">
                    <div id="me">
                        <div id="photo" style="margin: auto; background-image: url('/media/{{user.photo}}');"></div>
                        <div style="margin: auto 0px;">
                            <span>{{user.name}}</span>
                            <br>
                            <span>#0000</span>
                        </div>
                    </div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </aside>
        <section>
        </section>
    </main>
</body>
</html>